<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filbert.name %>
</p>

<p>
  <strong>Gezuntas:</strong>
  <%= @filbert.gezuntas %>
</p>

<%= link_to 'Edit', edit_filbert_path(@filbert) %> |
<%= link_to 'Back', filberts_path %>
